version: 2.1
defaults: &defaults
  working_directory: ~/repo
  docker:
    - image: circleci/node:10.15
jobs:
  build-package:
    <<: *defaults
    steps:
      - checkout
      - run:
          name: Set NPM Registry
          command: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" > ~/repo/.npmrc
      - run:
          name: Install Specific Yarn Version
          # The version here has to match the yarn version we specified in package.json
          command: curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version 1.13.0
      - restore_cache:
          key: dependency-cache-{{ checksum "yarn.lock" }}
      - run:
          name: Install versett-scripts dependencies
          command: yarn --frozen-lockfile
      - save_cache:
          key: dependency-cache-{{ checksum "yarn.lock" }}
          paths:
            - ./node_modules
      - run:
          name: Run test:ci
          command: PR_URL=$CIRCLE_PULL_REQUEST yarn test:ci
      - persist_to_workspace:
          root: ~/repo
          paths: .
  publish-package:
    <<: *defaults
    steps:
      - checkout
      - attach_workspace:
          at: ~/repo
      - run:
          name: Publish via versett-scripts
          command: npm run release
workflows:
  version: 2
  versett-circleci:
    jobs:
      - build-package
      - publish-package:
          requires:
            - build-package
          filters:
            branches:
              only: master
